version: 2.1

parameters:
  cache_version:
    type: string
    default: v1
  java_versions:
    type: string
    default: "17.0"

commands:
  restore-gradle-cache:
    parameters:
      jdk:
        type: string
    steps:
      - restore_cache:
          keys:
            - << pipeline.parameters.cache_version >>-gradle-<< parameters.jdk >>-{{ checksum "build.gradle" }}-{{ checksum "settings.gradle" }}
            - << pipeline.parameters.cache_version >>-gradle-<< parameters.jdk >>
  save-gradle-cache:
    parameters:
      jdk:
        type: string
    steps:
      - save_cache:
          key: << pipeline.parameters.cache_version >>-gradle-<< parameters.jdk >>-{{ checksum "build.gradle" }}-{{ checksum "settings.gradle" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper

jobs:
  gradle-test:
    parameters:
      jdk:
        type: string
    docker:
      - image: cimg/openjdk:<< parameters.jdk >>
    environment:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx2048m"
    steps:
      - checkout
      - restore-gradle-cache:
          jdk: << parameters.jdk >>
      - run:
          name: Print Gradle and JDK info
          command: |
            java -version
            ./gradlew --version
      - run:
          name: Clean and run unit tests
          command: ./gradlew clean test --info
      - save-gradle-cache:
          jdk: << parameters.jdk >>
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports

  code-quality:
    docker:
      - image: cimg/openjdk:17.0
    environment:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx2048m"
    steps:
      - checkout
      - restore-gradle-cache:
          jdk: "17.0"
      - run:
          name: Static checks
          command: ./gradlew check --info
      - save-gradle-cache:
          jdk: "17.0"
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports

  assemble-artifacts:
    docker:
      - image: cimg/openjdk:17.0
    environment:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs=-Xmx2048m"
    steps:
      - checkout
      - restore-gradle-cache:
          jdk: "17.0"
      - run:
          name: Assemble distributables
          command: ./gradlew assemble --info
      - save-gradle-cache:
          jdk: "17.0"
      - store_artifacts:
          path: build/libs
      - store_artifacts:
          path: build/distributions

workflows:
  build_and_verify:
    jobs:
      - gradle-test:
          matrix:
            parameters:
              jdk: [<< pipeline.parameters.java_versions >>]
      - code-quality:
          requires:
            - gradle-test
          filters:
            branches:
              only: main
            tags:
              only: /^v.*/
      - assemble-artifacts:
          requires:
            - gradle-test
          filters:
            branches:
              only: main
            tags:
              only: /^v.*/
